.Wrapper {
  width: 100%;
  position: relative;
}

.BackButton {
  position: absolute;
  right: 12px;
  top: 12px;
}

.ColumnWrapper {
  display: flex;
  gap: 1rem;
  margin-top: 16px;
}

@media (max-width: 800px) {
  .ColumnWrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .FormWrapper {
    width: 100% !important;
  }
}
